<div class="navbar-wagon">
  <div class="logo">
    <%= image_tag "flamingo.png", alt: "Sandy", height: 120 %>
    <h1>Paradise Cocktails</h1>
    <a href="<%= root_path %>"></a>
  </div>

  <div class="right-navbar">
     <div id="custom-search-input">
        <div class="input-group col-md-12">
          <form action="/" method="get">
            <input required type="text" name="q" class="search-query form-control" placeholder="Search" value="<%= @search %>"/>
            <input type="submit" class="btn btn-danger" id="search-btn">
          </form>


        </div>
    </div>
    <%= link_to "Add a cocktail", new_cocktail_path, class: "new-cocktail" %>
  </div>
  </div>

<div class="container-fluid">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <% img = cocktail.photo? ? cocktail.photo : 'icon_edonp1' %>
      <div class="col-xs-12 col-sm-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.02)),
         url('<%= cl_image_path img %>')">

         <a href="<%= cocktail_path(cocktail) %>" class="card-link"></a>
          <div>
          <%= cocktail.name %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
